/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* -------------------------------------------------------------------------------------------------------------------- */

/* CSS Variables
You Can do with Color, Fontsize, and more

:root{
    --rato:rgb(225, 13, 13);
    --hariyo:rgb(11, 197, 11);
}
.use{
    background-color: var(--hariyo);
} */

/* -------------------------------------------------------------------------------------------------------------------- */

/* a{
    text-decoration: none;
    color: unset;
} */

/* li{
    list-style: none;
} */


/* .flex{
    display: flex;
} */

/* .btn{
    padding: 15px 30px;
    cursor: pointer;
} */


/* ---------------------------------------------------------------------------------------------------------------------- */